@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@400;500;700&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: 100vh;
  background-color: #feea13;
}

.logo{
  font-size: 2rem;
  margin: 20px 40px;
  color: black;
  font-weight: 700;
}

.container{
  margin: 0 40px;
  width: 90%;
  height: 800px;
}

 textarea{
  resize: none;
  padding: 20px 40px;
  outline: none;
  height: 500px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

.button-area{
margin-top: 10px;
width: 100%;
display: flex;
justify-content: center;
}

button{
  border: 3px solid black;
  border-radius: 15px;
  color: black;
  width: 50%;
  height: 60px;
  font-size: 1rem;
  background-color: #feea13;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.container{
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.create-note-area{
  width: 45%;
}

.note-list-area{
  width: 45%;
  height: 600px;
  overflow: auto;
}

.note-list-area > ul{
  list-style-type: none;
  color: rgb(28, 28, 28);
  display: flex;
  flex-flow: row wrap;
}

.note-list-area > ul > li{
  margin-right: 20px;
}

/* --------_EMPTY NOTE MESSAGE_________-- */


.empty-note{
  margin-left: 10%;
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-note p{
  font-size: 1.5rem;
  font-weight: bold;
}


/* ----------_ICONS-----------____ */


.icon-container{
  display: flex;
}
.side-icons{
  margin-left: 4px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.note-icon{
  font-size: 4rem;
}
.note-list-area p{
  font-size: .75rem;
  font-weight: bold;
}

.note-icon:hover,.delete-icon:hover,.edit-icon:hover{
  cursor: pointer;
}